In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
form_raw = pd.read_excel('pesquisa.xlsx', sheetname='Sheet1')

In [14]:
new_column = ['Date', 'Team', 'Level', 'Age', 'Hour_Week', 'Hour_Weekend', 'Pokestops_Num', 'Gyms_Num', 'Pokestop_Neighbor', 
              'Gym_Neighbor', 'Raid_Num', 'Search_Pokemon', 'Badge_Gold', 'Badge_Silver', 'Badge_Bronze',
              'Coins', 'Gen_1', 'Gen_2', 'Gen_3', 'Raid_Ex', 'Raid_Ex_Loc']

In [15]:
form_raw.columns = new_column

Alterar form_raw.Raid_Ex para numérico: <br>
Não = 0 <br>
Sim = 0 <br>
Sim, mais de uma vez = valores da Raid_Ex_Loc

In [16]:
form_raw['Raid_Ex_Loc'] = pd.read_csv('RaidLoc.csv')

In [17]:
form_raw['Raid_Ex'] = form_raw.Raid_Ex_Loc.apply(lambda x: str(x).count(';'))

In [58]:
aux = pd.read_csv('Poke_Gym_Loc.csv')
aux.Pokestop_Neighbor = aux.Pokestop_Neighbor.apply(lambda lido: lido.replace(",",";"))
aux.Pokestop_Neighbor = aux.Pokestop_Neighbor.apply(lambda lido: lido + ";")
aux.Gym_Neighbor = aux.Gym_Neighbor.apply(lambda lido: lido.replace(",",";"))
aux.Gym_Neighbor = aux.Gym_Neighbor.apply(lambda lido: lido + ";")

form_raw.Pokestop_Neighbor = aux.Pokestop_Neighbor
form_raw.Gym_Neighbor = aux.Gym_Neighbor

In [51]:
form_raw.Raid_Ex_Loc = form_raw.Raid_Ex_Loc.fillna("-")

In [60]:
form_raw.Gen_1 = form_raw.Gen_1.fillna('Não')
form_raw.Gen_2 = form_raw.Gen_2.fillna('Não')
form_raw.Gen_3 = form_raw.Gen_3.fillna('Não')

In [61]:
form_raw.head()

,Date,Team,Level,Age,Hour_Week,Hour_Weekend,Pokestops_Num,Gyms_Num,Pokestop_Neighbor,Gym_Neighbor,...,Search_Pokemon,Badge_Gold,Badge_Silver,Badge_Bronze,Coins,Gen_1,Gen_2,Gen_3,Raid_Ex,Raid_Ex_Loc
0,2018-01-15 22:07:19,Mystic,33,21,6,2,1,1,A;,A;,...,Não,4,6,15,21 a 30,Não,Não,Não,0,-
1,2018-01-16 12:18:06,Intinct,30,19,20,6,21 ou mais,3,A; B; C; G;,A; B; C;,...,Não,0,4,15,41 a 50,Não,Não,Não,0,-
2,2018-01-16 12:18:14,Mystic,35,28,1,3,4,1,A; D; H;,A; B; C;,...,Sim,1,11,30,41 a 50,Não,Não,Não,0,-
3,2018-01-16 12:19:09,Valor,36,24,1,2,de 11 até 15,de 5 até 10,C; G;,A; C;,...,Sim,4,25,3,41 a 50,Não,Não,Não,0,-
4,2018-01-16 12:19:13,Valor,30,26,20,5,21 ou mais,de 5 até 10,A; B; C;,A; B; C;,...,Sim,1,12,12,41 a 50,Não,Não,Não,0,-

In [62]:
form_raw.to_csv('Formulario_Limpo.csv', encoding='utf-8', index=False)

In [3]:
gym = pd.read_csv('Pokemap/pokemon 4/gym.csv')
gym_detail = pd.read_csv('Pokemap/pokemon 4/gymdetails.csv')
gym_member = pd.read_csv('Pokemap/pokemon 4/gymmember.csv')
gym_pokemon = pd.read_csv('Pokemap/pokemon 4/gympokemon.csv')
move_id = pd.read_csv('Pokemap/pokemon 4/moveid.csv')
poke_id = pd.read_csv('Pokemap/pokemon 4/pokeid.csv')
pokestop = pd.read_csv('Pokemap/pokemon 4/pokestop.csv')
raid = pd.read_csv('Pokemap/pokemon 4/raid.csv')
trainer = pd.read_csv('Pokemap/pokemon 4/trainer.csv')

In [4]:
gym_pokemon.head()

,pokemon_uid,pokemon_id,cp,trainer_name,num_upgrades,move_1,move_2,height,weight,stamina,stamina_max,cp_multiplier,additional_cp_multiplier,iv_defense,iv_stamina,iv_attack,last_seen,form,costume
0,895052754133409,9,1402,LucasBozzatoKND,4,202,107,1.627160,110.59200,134,134,0.393088,0,14,14,11,2018-01-29 23:19:10,NaN,NaN
1,1340758924619554,16,411,Charmilh0,0,221,121,0.317050,2.41954,106,106,0.590560,0,5,10,5,2018-02-17 13:13:39,0.0,0.0
2,11201188872084804,242,2288,canilhao,2,234,86,1.466440,52.33460,336,336,0.326060,0,10,8,6,2018-02-09 17:10:36,0.0,0.0
3,21537214884512127,143,2261,Henriquehbx18,0,234,31,2.611100,630.09300,228,228,0.354763,0,15,3,7,2018-02-17 15:57:39,0.0,0.0
4,24411133933779062,196,2786,AntonellaLowen,64,235,275,0.890219,22.03630,128,128,0.444895,0,15,15,15,2018-02-17 15:25:45,0.0,0.0

In [ ]:
gym_pokemon['team'] = gym_pokemon.Raid_Ex_Loc.apply(lambda x: str(x).count(';'))

In [7]:
teste = pd.read_csv ('meus_dados/pokemon_gym_count.csv')

In [11]:
group = teste.groupby('team')

In [13]:
group.describe()

      count                                                    pokemon_id  \
      count       mean        std  min  25%  50%    75%    max      count
team
1     144.0  12.694444  34.758563  1.0  2.0  4.0   9.00  296.0      144.0
2      92.0  20.750000  55.860624  1.0  1.0  3.0  11.25  336.0       92.0
3      35.0   6.657143   9.003081  1.0  1.0  2.0   7.00   34.0       35.0


            mean         std  min    25%    50%     75%    max
team
1     198.291667  113.973980  1.0  98.25  207.5  304.25  369.0
2     172.086957  104.092483  3.0  86.50  161.5  244.25  376.0
3     148.771429  106.171084  4.0  51.50  139.0  218.00  358.0